# Unused index review: <%= Date.today %>

This is an overview of *potentially* unneeded indexes for further review by stage groups.

This is based on index usage data from GitLab.com. An index is considered "inactive" if it has not shown any activity (reads) in the last 7 days.

In order to determine whether an index is truly unneeded (and can be dropped), further steps have to be taken into consideration:

1. Is GitLab.com data representative for any installation in this case? For example, the feature needing the index may not be used on GitLab.com.
1. Do we have in-flight work that relies on the presence of the index? For example, a group may be actively working on a feature which is going to rely on this index.

Notice that indexes supporting constraints are not part of this analysis (unique indexes, primary key indexes, ...). Those serve a modeling purpose, whether or not those are useful for querying.

* Project: https://gitlab.com/gitlab-org/database-team/index-review
* Group resonsible: ~"group::database"
* CI pipelines run in https://ops.gitlab.net/gitlab-com/database-team/index-review

## Summary

Overall, there are <%= candidates.size %> candidate indexes for review. Their size totals <%= format_bytes(candidates.map { |index, _| index.ondisk_size_bytes }.sum) %>.

## Unused indexes per stage group

Notice an index can show up in different stage groups. Ownership information is based on [database metadata](https://gitlab.com/gitlab-org/gitlab/-/tree/master/db/docs).

<%= group_summaries.join("\n\n") %>
